export BOSH_ENVIRONMENT=vsphere
export BOSH_DEPLOYMENT=sslip.io
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$(bosh int --path /admin_password <(lpass show --note deployments.yml))
credhub api bosh-vsphere.nono.io:8844 --skip-tls-validation
if yq --version > /dev/null 2>&1; then
    # Accommodate the tail that wags the dog
    if [[ "$(yq --version)" =~  " 3." ]]; then
        credhub login --username=credhub_cli_user --password=$(lpass show --note deployments.yml | yq r - credhub_cli_password)
    else
        credhub login --username=credhub_cli_user --password=$(lpass show --note deployments.yml | yq e .credhub_cli_password -)
    fi
fi
