.vagrant
# weird private key; not sure what it's used for
bosh
# vim swap files
.*.swp
# don't accidentally check in creds for BOSH IPv6 vSphere
bosh-vsphere-ipv6-creds.yml
# don't check in script-generated concourse.yml (it's "object" not "source")
concourse.yml
concourse-worker.yml
# don't check in releases, but keep the directory handy
releases/
