[Unit]
Description=sslip.io DNS server
Documentation=https://sslip.io/

After=etcd.service

[Service]
## Give 5 seconds for etcd to come up
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/sslip.io-dns-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
